<footer class="site-footer h-card"  >
    <data class="u-url" href="/"></data>

    <div class="wrapper" >
        <h2 class="footer-heading"><a href="{{ site.baseurl }}/" >Bringing Ideas to Life Through Code</a></h2>
        <div class="footer-col-wrapper">
            <div class="footer-col ">
                <ul class="social-media-list">
                    <li>
                        <p class="footer-paragraph">
                            Welcome to my personal portfolio! Here, you can explore more about my work, projects, and the skills
                            I’ve developed as a web developer. Whether you're looking for collaboration, inspiration, or just
                            curious about what I do, I'm glad you visited my site!
                        </p>
                    </li>
                    <li>
                        <a href="https://github.com/mac-hills">
                            <svg class="svg-icon"><use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#github"></use></svg>
                            <span class="username">https://github.com/mac-hills</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:wmach73@gmail.com">
                            <svg class="svg-icon"><use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#email"></use></svg>
                            <span class="username">wmach73@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>