<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <h2 class="footer-heading">Bringing Ideas to Life Through Code</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <p>Welcome to my personal portfolio! Here, you can explore more about my work, projects, and the skills
                    I’ve developed as a web developer. Whether you're looking for collaboration, inspiration, or just
                    curious about what I do, I'm glad you visited my site!</p>
            </div>
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        <a href="https://github.com/mac-hills">
                            <svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg>
                            <span class="username">mac-hills</span>
                        </a>
                    </li>
                    <li>
                        <a class="u-email" href="mailto:wmach73@gmail.com">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12 13.197l6.5-5.197H5.5zM2 4.5v15h20v-15H2zm0-1h20c1.1 0 2 .9 2 2v15c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2v-15c0-1.1.9-2 2-2z"/>
                            </svg>
                            Contact me
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>