<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <h2 class="footer-heading">Bringing Ideas to Life Through Code</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Contact me</li>
                    <li><a class="u-email" href="mailto:wmach73@gmail.com">wmach73@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a href="https://github.com/mac-hills">
                            <svg class="svg-icon"><use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#github"></use></svg>
                            <span class="username">github</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:wmach73@gmail.com">
                            <svg class="svg-icon"><use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#email"></use></svg>
                            <span class="username">email</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>
                    Welcome to my personal portfolio! Here, you can explore more about my work, projects, and the skills
                    I’ve developed as a web developer. Whether you're looking for collaboration, inspiration, or just
                    curious about what I do, I'm glad you visited my site!
                </p>
            </div>
        </div>

    </div>


</footer>