<head>
    <meta charset="utf-8">
    <title>{{ page.title }} {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.svg" type="image/svg+xml">
    <!-- Optional fallback for older browsers -->
    <link rel="alternate icon" href="assets/images/favicon.ico" type="image/x-icon">

<!--    &lt;!&ndash; Styles &ndash;&gt;-->
    <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}">
</head>
