<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon links -->
    <link rel="icon" type="image/svg+xml" href="../../portfolio/favicon.svg">
    <link rel="icon" type="image/x-icon" href="../../portfolio/favicon.ico">


    <!-- Other head content -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="stylesheet" href="../../portfolio/assets/main.css">
    {%- feed_meta -%}
</head>