<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<!--    <main class="page-content" aria-label="Content" style='background-image: url("{{ site.baseurl }}/assets/images/bg1.png"); background-repeat: repeat-y; ' > -->
<main class="page-content" aria-label="Content" style='
  background-image:
    linear-gradient(rgba(67, 172, 97, 0.5), rgba(67, 172, 97, 0.5)),
    url("{{ site.baseurl }}/assets/images/bg1.png");
  background-repeat: repeat-y;
'>
    <div class="wrapper" style='background: #ffffff; opacity: 0.8;'>
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

</body>

</html>
